.fl{
  float: left;
}
.fr{
  float: right;
}
.s63-head{
  width: 100%;
  margin-bottom: 1px;
}
.head-nav-top{
  width: 100%;
  background: #000;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.nav-top-bg{
  width: 1200px;
  margin: 0 auto;
}
.head-login li{
  float: left;
  margin-right: 10px;
}
.login-input{
  border: 0 solid blue;
  border-radius: 5px;
  width: 80px;
  height: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}
.login-input:focus{
  outline: none;
}
.yzm{
  float: right;
  width: 60px;
  height: 20px;
  background: #fff;
  line-height: 20px;
  color: #000;
  margin-top: 11px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}
.login-btn{
  width: 50px;
  border-radius: 5px;
  border: none;
  padding: 4px;
  cursor: pointer;
  background: linear-gradient(top, #ff6b04, #ff322b);
  background: -ms-linear-gradient(top, #ff6b04, #ff322b);
  background: -moz-linear-gradient(top, #ff6b04, #ff322b);
  background: -webkit-linear-gradient(top, #ff6b04, #ff322b);
  background: -o-linear-gradient(top, #ff6b04, #ff322b);
  color: #fff;
}
.login-btn:focus{
  outline: none;
}
.head-login span{
  color: #f6f306;
}
.logout-btn{
  width: 50px;
  border-radius: 5px;
  border: none;
  padding: 4px;
  cursor: pointer;
  background: linear-gradient(top, #ff6b04, #ff322b);
  background: -ms-linear-gradient(top, #ff6b04, #ff322b);
  background: -moz-linear-gradient(top, #ff6b04, #ff322b);
  background: -webkit-linear-gradient(top, #ff6b04, #ff322b);
  background: -o-linear-gradient(top, #ff6b04, #ff322b);
  color: #fff;
  margin-left: 10px;
}
.logout-btn:focus{
  outline: none;
}
.head-nav-bottom{
  width: 1200px;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
}
.s63-logo{
  float: left;
  padding-top: 9px;
}
.nav-bottom-right li{
  float: left;
  box-sizing: border-box;
  margin: 0 7px;
  width: 70px;
  text-align: center;
}
.nav-bottom-right li:hover{
  color: #018cff;
  border-bottom: 1px solid #018cff;
}
.nav-bottom-right a:hover{
  color: #018cff;
}

