.index-main{
  width: 1200px;
  margin: 0 auto;
}
.main-money{
  background: url("./../assets/images/index/money.png") no-repeat center;
  height: 196px;
  margin-top: 5px;
}
.money{
  margin-right: 75px;
}
.moneys div{
  display: inline-block;
  width: 63px;
  height: 95px;
  border: 3px solid #978044;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 62px 0 10px 0;
  text-align: center;
  color: #f1cb3e;
  font-size: 70px;
  box-shadow: 0 0 1px #f1cb3e;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 216, 0, 1)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.money-1,.money-2,.money-3,.money-4{
  display: inline-block;
}
.symbol{
  width: 10px;
  height: 20px;
  display: inline-block;
  background: url("./../assets/images/fairy.png") -10px -174px;
}
.main-banner{
  margin-top: 10px;
}
.main-banner div{
  display: inline-block;
  width: 380px;
  height: 441px;
  box-sizing: border-box;
}
.main-elec{
  background: url("./../assets/images/index/index-elec.jpg");
  overflow: hidden;
}
.main-live{
  background: url("./../assets/images/index/index-live.jpg");
  overflow: hidden;
}
.main-sport{
  background: url("./../assets/images/index/index-sport.jpg");
  overflow: hidden;
}
.shade{
  display: block;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,.5);
  position: absolute;
  top:333px;
  text-align: center;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  padding-top: 20px;
}
.main-elec:hover .shade{
  padding-top: 150px;
  top: 0;
}
.main-live:hover .shade{
  padding-top: 150px;
  top: 0;
}
.main-sport:hover .shade{
  padding-top: 150px;
  top: 0;
}
.shade .tiger{
  display: inline-block;
  margin-bottom: -8px;
  width: 39px;
  height: 39px;
  background: url("./../assets/images/fairy.png") -2px -123px;
}
.shade .poker{
  display: inline-block;
  margin-bottom: -8px;
  width: 39px;
  height: 39px;
  background: url("./../assets/images/fairy.png") -3px -68px;
}
.shade .general{
  display: inline-block;
  margin-bottom: -8px;
  width: 39px;
  height: 39px;
  background: url("./../assets/images/fairy.png") -1px -14px;
}
.TS{
  width: 999px;
  height: 35px;
  margin: 20px auto;
  background: url("./../assets/images/index/TS.png");
}
.gonggao{
  width: 100%;
  height: 35px;
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 566px;
  z-index: 2;
}
.gonggao-main{
  width: 1200px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  color: #fff;
}
.gonggao-img{
  float: left;
  width: 31px;
  height: 32px;
  background: url("./../assets/images/fairy.png") -4px -204px;
}
.gonggao p{
  margin-left: 10px;
}
.bottom-game{
  width: 100%;
  height: 479px;
  background: url("./../assets/images/index/bottom-bg-banner.jpg") no-repeat center;
}
.bottom-game-main{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.circle1{
  position: absolute;
  top: 0;
  right: -2px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-sizing: border-box;
  background: url("./../assets/images/fairy.png") -427px -12px;
}
.circle2{
  position: absolute;
  top: 0;
  right: -2px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-sizing: border-box;
  background: url("./../assets/images/fairy.png") -511px -12px;
}
.circle3{
  position: absolute;
  top: 0;
  right: -2px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-sizing: border-box;
  background: url("./../assets/images/fairy.png") -341px -16px;
}
.circle4{
  position: absolute;
  top: 0;
  right: -2px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-sizing: border-box;
  background: url("./../assets/images/fairy.png") -256px -16px;
}
.text-sa{
  position: absolute;
  top: 49px;
  left: 12px;
  width: 205px;
  height: 72px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 2;
}
.text-pt{
  position: absolute;
  top: 138px;
  left: -46px;
  width: 205px;
  height: 71px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.text-mg{
  position: absolute;
  top: 238px;
  left: -62px;
  width: 205px;
  height: 71px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.text-ag{
  position: absolute;
  top: 327px;
  left: -35px;
  width: 205px;
  height: 71px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.text1{
  margin-left: 195px;
  width: 140px;
  height: 70px;
  font-size: 35px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
.text2{
  margin-left: 195px;
  width: 165px;
  height: 70px;
  font-size: 35px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
.text3{
  margin-left: 195px;
  width: 165px;
  height: 70px;
  font-size: 35px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
.text4{
  margin-left: 195px;
  width: 165px;
  height: 70px;
  font-size: 35px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
.text-sa .mask,
.text-pt .mask,
.text-mg .mask,
.text-ag .mask{
  position: absolute;
  top: 1px;
  left: 0;
  width: calc(100% - 36px);
  height: 97%;
}

/*.text-sa:hover .mask{*/
   /*background: -webkit-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
   /*background: linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
   /*background: -moz-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
   /*background: -o-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
 /*}*/
/*.text-pt:hover .mask{*/
  /*background: -webkit-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
  /*background: linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
  /*background: -moz-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
  /*background: -o-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
/*}*/
/*.text-mg:hover .mask{*/
  /*background: -webkit-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
  /*background: linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
  /*background: -moz-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
  /*background: -o-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
/*}*/
/*.text-ag:hover .mask{*/
  /*background: -webkit-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
  /*background: linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
  /*background: -moz-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
  /*background: -o-linear-gradient(left,rgba(255,255,255,0.3),#248ac8);*/
/*}*/
.text-sa:hover .text1{
  margin-left:4px;
}
.text-pt:hover .text2{
  margin-left:4px;
}
.text-mg:hover .text3{
  margin-left:4px;
}
.text-ag:hover .text4{
  margin-left:4px;
}
.ple{
  width: 487px;
  height: 475px;
  position: absolute;
  top: 4px;
  left: 155px;
  background: url("./../assets/images/people.png") -1478px -10px;
}
.ple1{
  width: 487px;
  height: 475px;
  position: absolute;
  top: 4px;
  left: 155px;
  background: url("./../assets/images/people.png") -992px -10px;
}
.ple2{
  width: 487px;
  height: 475px;
  position: absolute;
  top: 4px;
  left: 155px;
  background: url("./../assets/images/people.png") -533px -10px;
}
.ple3{
  width: 487px;
  height: 475px;
  position: absolute;
  top: 4px;
  left: 155px;
  background: url("./../assets/images/people.png") -102px -10px;
}
.fr-main{
  height: 479px;
  width: 585px;
}
.fr-main-top{
  height: 42px;
  line-height: 42px;
  margin-top: 50px;
}
.fr-main-bottom{
  margin-top: 25px
}
.fr-main-bottom p{
  width: 427px;
  font-size: 15px;
  color: #747474;
}
.fr-main-bottom-img{
  margin-top: 55px;
}
.more-game{
  float: right;
  margin-top: 10px;
  width: 180px;
  height: 48px;
  line-height: 48px;
  font-size: 25px;
  box-sizing: border-box;
  text-align: center;
  background: #3aa1e0;
  background: -webkit-linear-gradient(top,#3ea5e4,#248ac8);
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}
.more-game a{
  color: #fff;
}
/*.more-game:hover a{*/
  /*color: red;*/
/*}*/

.hide{
  display: none;
}

.show{
  display: block;
  animation: show 1s;
}

@keyframes show {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    display: block;
  }
}
.jg{
  margin-top: 48px;
  color: #fff;
}
.jg span{
  display: inline-block;
  cursor: pointer;
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px;
  background: #0088ff;
  border-radius: 5px;
  transition: all .3s linear;
}
.jg span:hover{
  background: #08B7FF;
}
