.box .title{
  font-size: 30px;
  color: #777777;
  margin: 10px 0;
}
.box .title span{
  font-size: 16px;
}
.box .content{
  width: 796px;
  border: 2px solid #bfbfbf;
  background-color: #f1f1f1;
  border-radius: 8px;
  overflow: hidden;
}

.box .content .el-col:nth-child(2n-1){
  text-align: right;
}

.box .content .el-row{
  margin: 10px 0;
  line-height: 40px;
}
